@page "/login"

<h1>Login</h1>
<hr style="margin: 1.5rem 0;"/>

<form @onsubmit="LoginAsync" novalidate>
    <div>
        <label for="txtUsername">Username</label>
        <input type="text" name="txtUsername" @bind-value="Username" disabled="@IsLoading"/>
    </div>

    <div style="color: red;">
        @this[nameof(Username)]
    </div>

    <div>
        <label for="txtPassword">Password</label>
        <input type="password" name="txtPassword" @bind-value="Password" disabled="@IsLoading"/>
    </div>

    <div style="color: red;">
        @this[nameof(Password)]
    </div>

    <div>
        <label>
            <input type="checkbox" name="chkRememberMe" checked=@RememberMe @onchange="e => OnRememberMeChange(e.Value)" disabled="@IsLoading"/>
            Remember Me
        </label>
    </div>

    <button type="submit" disabled="@IsLoading">Login</button>
    <div style="color: red;">@this[nameof(LoginView)]</div>
</form>

@inject IAuthenticationService AuthenticationService
@code {
    bool m_canValidate;
    string m_loginError;

    public bool IsLoading
    {
        get;
        private set;
    }

    public string Username
    {
        get;
        private set;
    }

    public string Password
    {
        get;
        private set;
    }

    public bool RememberMe
    {
        get;
        private set;
    }
    
    public string? this[string prop]
    {
        get
        {
            if (!m_canValidate)
            {
                return null;
            }

            if (prop == nameof(Username))
            {
                if (string.IsNullOrEmpty(Username))
                {
                    return "Username is empty";
                }
            }
            else if (prop == nameof(Password))
            {
                if (string.IsNullOrEmpty(Password))
                {
                    return "Password is empty";
                }
            }
            else if (prop == nameof(LoginView))
            {
                return m_loginError;
            }
            
            return null;
        }
    }

    public LoginView()
    {
        Username = "";
        Password = "";
        m_loginError = "";
    }

    void OnRememberMeChange(object? value)
    {
        if (value == null)
        {
            return;
        }

        RememberMe = (bool)value;
    }

    bool IsValid()
    {
        m_canValidate = true;

        if (this[nameof(Username)] != null ||
            this[nameof(Password)] != null)
        {
            return false;
        }

        return true;
    }
    
    async Task LoginAsync()
    {
        if (IsLoading || !IsValid())
        {
            return;
        }

        m_loginError = "";
        IsLoading = true;

        try
        {
            await AuthenticationService.AuthenticateAsync(
                Username,
                Password,
                RememberMe);
            
            Username = "";
            Password = "";
            RememberMe = false;
        }
        catch (Exception ex)
        {
            Console.WriteLine("Authentication failed");
            Console.WriteLine(ex.ToString());
            m_loginError = ex.Message;
        }
        finally
        {
            IsLoading = false;
        }
    }
}
