@page "/camera/archive/{CameraId}"

@if (string.IsNullOrEmpty(CameraId))
{
    throw new ArgumentNullException(nameof(CameraId));
}

<h1>Camera Archives</h1>
<hr style="margin: 1.5rem 0;"/>

@if (ArchiveNames.Length == 0)
{
    <p>Loading archives...</p>
}
else
{
    @foreach (string name in ArchiveNames)
    {
        string path = string.Format(
            "/camera/archive/{0}/{1}",
            CameraId,
            name);
        <NavLink href="@path">
            <button style="padding: 3rem;">
                @name
            </button>
        </NavLink>
    }
}

@inject HttpClient Client;
@code {
    [Parameter]
    public string? CameraId
    {
        get;
        set;
    }

    public string[] ArchiveNames
    {
        get;
        set;
    }

    public CameraArchiveView()
    {
        ArchiveNames = new string[0];
    }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(CameraId))
        {
            throw new Exception("Camera id is empty");
        }

        while (true)
        {
            try
            {
                Dictionary<string, string> query = new()
                {
                    { "cameraId", CameraId }
                };
                ApiResult result = await Client.GetAsync(
                    "/camera/archive/list",
                    query,
                    CameraJsonContext.Default.StringArray);

                if (result is ErrorApiResult error)
                {
                    throw new Exception(
                        $"{error.Error.Error}. Trace: {error.Error.TraceId}");
                }
                
                if (result is not SuccessApiResult<string[]> success ||
                    success.Result == null)
                {
                    throw new Exception("Invalid server response");
                }

                ArchiveNames = success.Result;
                break;
            }
            catch (Exception ex)
            {
                Console.WriteLine("Loading archives error");
                Console.WriteLine(ex.ToString());
                await Task.Delay(TimeSpan.FromSeconds(1));
            }
        }
    }
}
