@page "/camera/archive/{CameraId}/{ArchiveName}"

@if (string.IsNullOrEmpty(CameraId))
{
    throw new ArgumentNullException(nameof(CameraId));
}

@if (string.IsNullOrEmpty(ArchiveName))
{
    throw new ArgumentNullException(nameof(ArchiveName));
}

<div style="width: 100%; height: 100%; display: flex;">
    <video id="camvideo" width="100%" controls></video>
</div>

@implements IAsyncDisposable
@inject JsLoader JsLoader
@code {
    IJSObjectReference? m_hlsModule;
    IJSObjectReference? m_wakeLockModule;

    [Parameter]
    public string? CameraId
    {
        get;
        set;
    }

    [Parameter]
    public string? ArchiveName
    {
        get;
        set;
    }

    protected override async Task OnInitializedAsync()
    {
        m_hlsModule = await JsLoader.LoadAsync("HlsPlayer");
        m_wakeLockModule = await JsLoader.LoadAsync("WakeLockService");

        try
        {
            string indexPath = string.Format(
                "/api/camera/archive/{0}/{1}",
                CameraId,
                ArchiveName);
            await m_hlsModule.InvokeVoidAsync(
                "initPlayer",
                "camvideo",
                indexPath);
            await m_hlsModule.InvokeVoidAsync(
                "play",
                "camvideo",
                10);
            await m_wakeLockModule.InvokeVoidAsync("lock");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error loading hls player");
            Console.WriteLine(ex.ToString());
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (m_wakeLockModule != null)
        {
            await m_wakeLockModule.InvokeVoidAsync("unlock");
        }
    }
}
