@page "/camera/{CameraId}"

@if (m_isPlaying)
{
    <div style="width: 100%; height: 100%; display: flex;">
        <video id="@PlayerId" width="100%" controls></video>
    </div>
}
else
{
    <button style="width: 5rem; height: 2rem; margin-top: 3rem; margin-left: 3rem;"
            @onclick="StartAsync">
        PLAY
    </button>
    <div style="color: red;">@Error</div>
}

@using System.Net.WebSockets
@using System.Text
@using System.Threading
@inject JsLoader JsLoader
@inject NavigationManager Nav
@implements IAsyncDisposable
@code {
    [Parameter]
    public string CameraId
    {
        get;
        set;
    }

    public string PlayerId
    {
        get;
        set;
    }

    public string Error
    {
        get;
        set;
    }

    public CameraLiveView()
    {
        CameraId = "";
        PlayerId = "";
        Error = "";
    }

    IJSObjectReference? m_mediaSourceModule;
    IJSObjectReference? m_wakeLockModule;
    bool m_isPlaying;
    CancellationTokenSource? m_cts;

    protected override async Task OnInitializedAsync()
    {
        m_mediaSourceModule = await JsLoader.LoadAsync("MediaSourceService");
        m_wakeLockModule = await JsLoader.LoadAsync("WakeLockService");
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!m_isPlaying &&
            m_mediaSourceModule != null &&
            m_wakeLockModule != null)
        {
            _ = StartAsync();
        }
        
        return Task.CompletedTask;
    }

    public async Task StartAsync()
    {
        if (m_mediaSourceModule == null ||
            m_wakeLockModule == null)
        {
            Console.Error.WriteLine("Modules not initialized");
            return;
        }
        
        if (m_isPlaying)
        {
            Console.Error.WriteLine("Already playing");
            return;
        }

        PlayerId = "video-" + Guid.NewGuid();
        m_isPlaying = true;
        await InvokeAsync(StateHasChanged);
        m_cts = new CancellationTokenSource();

        try
        {
            Console.WriteLine("Requesting wake lock");
            _ = m_wakeLockModule.InvokeVoidAsync("lock");

            string socketUri = Nav.BaseUri + "api/camera/stream/" + CameraId;
            socketUri = socketUri.Replace("https", "wss");
            socketUri = socketUri.Replace("5001", "5000"); // For debugging.
            Console.WriteLine("Connecting to socket: {0}", socketUri);
            using ClientWebSocket socket = new ClientWebSocket();
            await socket.ConnectAsync(new Uri(socketUri), default);

            Console.WriteLine("Reading codec");
            byte[] codecBuff = new byte[128];
            await socket.ReceiveAsync(
                codecBuff.AsMemory(),
                default);
            string codec = Encoding.ASCII.GetString(codecBuff).Trim('\0', ' ');
            Console.WriteLine("Codec: [{0}]", codec);
            
            Console.WriteLine("Initializing video player: {0}", PlayerId);
            await InvokeAsync(StateHasChanged);
            await m_mediaSourceModule.InvokeVoidAsync(
                "initMediaSource",
                PlayerId,
                codec);
            byte[] receiveBuffer = new byte[200 * 1024];
            
            while (!m_cts.Token.IsCancellationRequested)
            {
                var socketReceived = await socket.ReceiveAsync(
                    receiveBuffer.AsMemory(),
                    default);
                byte[] renderBuffer = new byte[socketReceived.Count];
                Array.Copy(
                    receiveBuffer,
                    renderBuffer,
                    renderBuffer.Length);
                await m_mediaSourceModule.InvokeVoidAsync(
                    "updateMediaSourceBuffer",
                    PlayerId,
                    renderBuffer);
            }

            Console.WriteLine("Closing web socket");
            await socket.CloseAsync(
                WebSocketCloseStatus.NormalClosure,
                "client request",
                default);
            Console.WriteLine("Closed web socket");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Playback error");
            Console.WriteLine(ex.ToString());
            Error = "Playback error: " + ex;
        }
        finally
        {
            m_cts.Dispose();
            m_cts = null;

            Console.WriteLine("Disposing media source");
            _ = m_mediaSourceModule.InvokeVoidAsync(
                "disposeMediaSourceBuffer",
                PlayerId);

            Console.WriteLine("Video player stopped: {0}", PlayerId);
            m_isPlaying = false;

            Console.WriteLine("Releasing wake lock");
            _ = m_wakeLockModule.InvokeVoidAsync("unlock");
        }
    }

    public ValueTask DisposeAsync()
    {
        if (m_cts != null &&
            !m_cts.IsCancellationRequested)
        {
            m_cts.Cancel();
        }

        return ValueTask.CompletedTask;
    }
}
