@page "/camera"

<h1>Camera</h1>
<hr style="margin: 1.5rem 0;"/>

@if (Cameras.Length == 0)
{
    <p>Loading camera list...</p>
}
else
{
    @foreach (CameraResponse camera in Cameras)
    {
        string livePath = string.Format(
            "/camera/{0}",
            camera.Id);
        <NavLink href="@livePath">
            <button style="padding: 3rem;">
                @string.Format("{0} LIVE", camera.Name)
            </button>
        </NavLink>

        string archivePath = string.Format(
            "/camera/archive/{0}",
            camera.Id);
        <NavLink href="@archivePath">
            <button style="padding: 3rem;">
                @string.Format("{0} Archive", camera.Name)
            </button>
        </NavLink>

        <div style="margin: 1rem 0;"></div>
    }
}

@inject HttpClient Client;
@code {
    public CameraResponse[] Cameras
    {
        get;
        set;
    }
    
    public CameraListView()
    {
        Cameras = new CameraResponse[0];
    }

    protected override async Task OnInitializedAsync()
    {
        while (true)
        {
            try
            {
                ApiResult result = await Client.GetAsync(
                    "/camera/list",
                    CameraJsonContext.Default.CameraResponseArray);

                if (result is ErrorApiResult error)
                {
                    throw new Exception(
                        $"{error.Error.Error}. Trace: {error.Error.TraceId}");
                }
                
                if (result is not SuccessApiResult<CameraResponse[]> success ||
                    success.Result == null)
                {
                    throw new Exception("Invalid server response");
                }

                CameraResponse[] cameras = success.Result
                    .Where(x =>
                        !string.IsNullOrEmpty(x.Id) &&
                        !string.IsNullOrEmpty(x.Name))
                    .ToArray();
                
                if (cameras.Length == 0)
                {
                    continue;
                }

                Cameras = cameras;
                break;
            }
            catch (Exception ex)
            {
                Console.WriteLine("Loading archives error");
                Console.WriteLine(ex.ToString());
                await Task.Delay(TimeSpan.FromSeconds(1));
            }
        }
    }
}
