@page "/"

<h1>Welcome, @Username</h1>
<hr style="margin: 1.5rem 0;"/>

<NavLink href="/account">
<button style="padding: 3rem;">
    ACCOUNT
</button>
</NavLink>

<NavLink href="/camera">
    <button style="padding: 3rem;">
        CAMERA
    </button>
</NavLink>

<button style="padding: 3rem;"
        @onclick="LogoutAsync">
    LOGOUT
</button>

@inject AuthenticationState AuthenticationState
@inject IAuthenticationService AuthenticationService
@code {
    public string Username
    {
        get;
        private set;
    }

    public IndexView()
    {
        Username = "";
    }

    protected override Task OnInitializedAsync()
    {
        if (AuthenticationState.User == null)
        {
            throw new InvalidOperationException("Authentication state is null");
        }

        Username = AuthenticationState.User.Username;
        return Task.CompletedTask;
    }

    async Task LogoutAsync()
    {
        await AuthenticationService.DeauthenticateAsync();
    }
}
