@page "/account"

<h1>Change Password</h1>
<hr style="margin: 1.5rem 0;"/>

<form @onsubmit="LoginAsync" novalidate>
    <div>
        <label for="txtOldPassword">Old password</label>
        <input type="password" name="txtOldPassword" @bind-value="OldPassword" disabled="@IsLoading"/>
    </div>
    <div style="color: red;">
        @this[nameof(OldPassword)]
    </div>

    <div>
        <label for="txtNewPassword">New password</label>
        <input type="password" name="txtNewPassword" @bind-value="NewPassword" disabled="@IsLoading"/>
    </div>
    <div style="color: red;">
        @this[nameof(NewPassword)]
    </div>

    <div>
        <label for="txtNewPassword2">Confirm password</label>
        <input type="password" name="txtNewPassword2" @bind-value="NewPassword2" disabled="@IsLoading"/>
    </div>
    <div style="color: red;">
        @this[nameof(NewPassword2)]
    </div>

    <button type="submit" disabled="@IsLoading">Submit</button>
    <div style="color: red;">
        @this[nameof(AccountView)]
    </div>
</form>

@inject IAuthenticationService AuthenticationService
@code {
    bool m_canValidate;
    string m_error;

    public bool IsLoading
    {
        get;
        private set;
    }

    public string OldPassword
    {
        get;
        private set;
    }

    public string NewPassword
    {
        get;
        private set;
    }

    public string NewPassword2
    {
        get;
        private set;
    }
    
    public string? this[string prop]
    {
        get
        {
            if (!m_canValidate)
            {
                return null;
            }

            if (prop == nameof(OldPassword))
            {
                if (string.IsNullOrEmpty(OldPassword))
                {
                    return "Old password is empty";
                }
            }
            else if (prop == nameof(NewPassword))
            {
                if (string.IsNullOrEmpty(NewPassword))
                {
                    return "New password is empty";
                }

                if (NewPassword != NewPassword2)
                {
                    return "Passwords do not match";
                }
            }
            else if (prop == nameof(NewPassword2))
            {
                if (string.IsNullOrEmpty(NewPassword2))
                {
                    return "New password confirmation is empty";
                }

                if (NewPassword2 != NewPassword)
                {
                    return "Passwords do not match";
                }
            }
            else if (prop == nameof(AccountView))
            {
                return m_error;
            }
            
            return null;
        }
    }

    public AccountView()
    {
        m_error = "";
        OldPassword = "";
        NewPassword = "";
        NewPassword2 = "";
    }

    bool IsValid()
    {
        if (this[nameof(OldPassword)] != null ||
            this[nameof(NewPassword)] != null ||
            this[nameof(NewPassword2)] != null)
        {
            return false;
        }

        return true;
    }
    
    async Task LoginAsync()
    {
        m_canValidate = true;
        
        if (IsLoading || !IsValid())
        {
            return;
        }

        m_error = "";
        IsLoading = true;

        try
        {
            await AuthenticationService.ChangePasswordAsync(
                OldPassword,
                NewPassword);
            
            m_canValidate = false;
            OldPassword = "";
            NewPassword = "";
            NewPassword2 = "";
        }
        catch (Exception ex)
        {
            Console.WriteLine("Change password failed");
            Console.WriteLine(ex.ToString());
            m_error = ex.Message;
        }
        finally
        {
            IsLoading = false;
        }
    }
}
